# Expo Public Environment Variables
# Google Web Client ID from Google Cloud Console / Firebase Authentication
# Format: <project-number>-<unique-hash>.apps.googleusercontent.com
# Example: 540696667738-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
